<div class="footer">
    <div class="square spin-icon">
        <a href="https://mail.google.com/mail/u/?authuser=ngohoangminh205@gmail.com" target="_blank" class="icon-linkedin spin-icon"><div><i class="fa fa-google" aria-hidden="true"></i></div></a>
        <a href="https://www.facebook.com/hoangminh.ngo.205/" target="_blank" class="icon-twitter"><div><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
        <a href="https://github.com/minhngo205" target="_blank" class="icon-github"><div><i class="fa fa-github" aria-hidden="true"></i></div></a>
    </div>
</div>