@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
    ViewBag.Title = "Search";
}

<header class="homePage-header">
    <div class="row-fluid">
        <div class="col-xs-12">
            <div class="search-content">
                    <div class="logo">
                        <a href="Index">
                            <h1>Webmantic</h1>
                            <span>Semantic web search engine</span>
                        </a>
                    </div>
                    <form action="@Url.Action("searchresults","home")" method="get" class="form">
                        <input class="input-search" type="text" name="id" placeholder="Search...">
                    </form>
                <p>Created by <a href="https://www.facebook.com/hoangminh.ngo.205/" target="_blank"><strong>Ngô Hoàng Minh</strong></a> as part of my course project at <a href="http://dut.udn.vn/" target="_blank"><strong>Danang University of Science and Technology</strong></a></p>
            </div>
        </div>
    </div>
    <canvas id="header-connectors" class="js-Connectors"></canvas>
</header>